.contactsContainer {
    // border: 1px solid red;
    padding: 20px 25px 15px;
}
.contactsList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__row {
        list-style: none;
        margin: 0;
        padding: 10px 5px;
        border-bottom: 2px solid rgba(65, 105, 225, 0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.container-content {
    display: flex;
    flex-grow: 1;
    // align-items: center;
    gap: 60px;
    // border: 1px solid rgb(110, 128, 63);
    // justify-content: space-around;
    p {
        width: 250px;
        display: flex;
        justify-content: space-between;
        // border: 1px solid rgb(110, 128, 63);
    }
}
.titleContent {}
.content {}
.button {
    margin: 0;
}